body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0041;
    color: #333;
}
header {
    background-color: #17009c;
    color: white;
    padding: 1rem;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
nav {
    margin-top: 0.5rem;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}