@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Ubuntu&display=swap');
/* Para todos los elementos,
por defecto reseteo margen, padding y ajusto dimensiones de la caja al borde */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    color: #434344;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: justify;
}

a {
    color: #434344;
    text-decoration: none; /* Sin decoración */
}

/* Contenedor grid */
.container{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    grid-gap: 50px;
    background-color: #fff;
}

/* Sección Header */
header{
    grid-area: header;
    color: #908d8d;
    text-transform: uppercase;
    border-bottom: 5px dashed #0d6427;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

header nav {
    justify-self: start;
    list-style-type: none;
}

header nav li {
    margin-right: 15px;
    display: inline-block;
}

header button {
    justify-self: end; /* Envío el botón al final */
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #0d6427;
}

/* Sección main */
.main {
    grid-area: main;
}

.main h2 {
    font-size: 32px;
    margin: 1rem 0;
    color: #ada70a;
}

.main p {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.main img {
    width: 100%;
    border-radius: 30px;
}

/* Lateral (Sidebar) */
.sidebar {
    grid-area: sidebar;
    padding: 20px;
    border-top: 3px solid #0d6427;
    background-color: #f9f9f9;
}